/* ===============UNIVERSAL SELECTOR================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===========GOOGLE FONT=========== */
.poppins-font {
  font-family: "Poppins", sans-serif;
}
/* ======SHARED STYLE=========== */
/* ==========PRIMARY COLOR========== */
.text-light-color {
    color: #3A3A3A;
    
}


/* ===============SECONDARY COLOR============== */
.text-dark-color{
    color: #0A0826;
    
}

/* ===========NAVBAR RELATED DESIGN========= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
   margin: 0 auto;
}
.nav-content {
    font-size: 24px;
    font-weight: bold;
}
.nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 10px;

    
}

.list-item a {
   text-decoration: none;
   font-size: 16px;
    font-weight: 600;
}
.list-item:hover {
    background-color: red;
}

/* =========BANNER RELATED DESIGN========== */
.banner {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 10px auto;
}
.banner-content {
    background-color: aquamarine; 
    padding: 5px;
}
.banner-content h1 {
    font-size: 52px;
    font-weight: bold ;

}
.banner-content p {
    font-size: 16px;
    font-weight: 600 ;

}





/* ===========RESPONSIVE LAYOUT DESIGN============== */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
   
}  
 .nav-content {
    font-size: 20px;
 }
.nav-menu ul {
flex-direction: column;
}
}   
